@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --text-color: #f8f9f8;
  --main-font: "Inter", sans-serif;
}

body {
  background: #0c243c;
  height: 100%;
  overflow: hidden;
}

#particles-js{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0c243c;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1000;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.static-content {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.line {
  width: 0.2rem;
  height: 12.5rem;
  color: #f8f9f8;
  border-radius: 180px;
}

.bottom-gradient {
  width: 100%;
  height: 8.5rem;
  flex-shrink: 0;
  background: linear-gradient(
    180deg,
    rgba(14, 13, 13, 0.01) 0%,
    rgba(14, 13, 13, 0.8) 92.71%
  );
  position: absolute;
  bottom: 0;
  left: 0;
}

.btn {
  border-radius: 11.25rem;
  border: none;
  background: #f8f9f8;
  padding: 0.9375rem 1.875rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  color: #0c243c;
  font-size: 1.25rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn:hover{
    background: #0c243c;
    color: #f8f9f8;
    outline: 0.1rem solid #f8f9f8;
}

p {
  color: var(--text-color);
  font-family: var(--main-font);
}

h1, h2 {
  color: var(--text-color);
  font-family: var(--main-font);
}

.site-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  height: 100vh;
}

.socials {
  display: flex;
  gap: 2rem;
}

nav li {
  display: inline-block;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: var(--text-color);
  font-family: var(--main-font);
}

.focused{
    text-decoration: underline;
    text-decoration-color: #f8f9f8;
}

.visible {
  display: block;
}

.hidden {
  display: none !important;
}

li a:hover {
  text-decoration: underline;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.content {
  width: 32.8125rem;
  height: 35.9375rem;
  border-radius: 1.875rem;
  background: #2f4562;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 2rem;
  box-sizing: border-box;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.content > :first-child{
    margin-top: 0;
}

.content > :last-child{
    margin-bottom: 0;
}

#content::-webkit-scrollbar-track{
    background-color: transparent;
    border-radius: 1rem;
}
#content::-webkit-scrollbar {
  width: 0.5rem;
}
#content::-webkit-scrollbar-thumb {
  background-color: #f8f9f8;
  border-radius: 1rem;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

#contact-me form{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    gap: 0.5rem;
}

#contact-me > :first-child{
    margin-top: 0;
}

#contact-me > :last-child{
    margin-bottom: 0;
}

#contact-me input{
    width: 100%;
    height: 2.5rem;
    border-radius: 1.875rem;
    background: #f8f9f8;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    padding-left: 1rem;
}

#contact-me textarea{
    width: 100%;
    height: 10rem;
    border-radius: 1.875rem;
    background: #f8f9f8;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    resize: none;
    padding-left: 1rem;
    padding-top: 1rem;
}

#contact-me button{
    width: 50% !important;
}

input:focus, textarea:focus{
    outline: none;
}

input::placeholder, textarea::placeholder{
    color: #0C243C;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

label{
    color: #F8F9F8;
    font-size: 1.5rem;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#projects, #education, #experience{
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.card{
  display: flex;
  flex-direction: column;
  border-radius: 1.875rem;
  background: linear-gradient(169deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.01) 100%);
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.20);
  backdrop-filter: blur(25px);
  padding: 50px;
  row-gap: 15px;
}

.card > :first-child{
    margin-top: 0;
}

.card > :last-child{
    margin-bottom: 0;
}

.card-body{
  margin: 0;
}

.card-body > p{
  margin: 0;
}

.card-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-header > :first-child{
  margin: 0;
}

.card-footer, .education-card-footer, .experience-card-footer{
  display: flex;
  column-gap: 25px;
  
}
